.card,
.cardflip {
  position: absolute;
  display: block;
  background: lightgreen;
  width: 80px;
  height: 300px;
}

.card {
  z-index: 1;
}

.container {
  perspective: 800px;
}

.cardflip {
  background: lightblue;
  margin-left: 200px;
  transition: transform 1s;
  transform-origin: left;
  transform: rotateY(120deg);
  z-index: 0;
}

.container:hover .cardflip {
  transform: rotateY(0deg);
}
