.card {
  position: relative;
  display: block;
  background: lightgreen;
  width: 80px;
  height: 20px;
  margin-top: 20px;
}

.cardflip {
  position: absolute;
  display: block;
  background: lightblue;
  margin-left: 20px;
  visibility: hidden;
  transition: transform 1s;
  transform-origin: left;

  z-index: 0;
  width: 10px;
  height: 120px;
}

.card {
  z-index: 1;
}

.container {
  perspective: 800px;
}

.container:hover .cardflip {
  transform: translate(120px, 50%);
  visibility: visible;
}
