.card {
  position: relative;
  width: 200px;
  height: 250px;
  border: 1px solid blue;
  overflow: hidden;
  padding-top: 2px;
}

.card > div {
  height: 100%;
  width: 100%;
}

.card:hover .foreground {
  transform: translateX(0);
}
