.card {
  position: relative;
  width: 200px;
  height: 10px;

  overflow: hidden;
  padding-top: 2px;
  display: inline-flex;
}

.card > div {
  height: 100%;
  width: 100%;
}

.foreground {
  position: absolute;
  padding-top: 30px;
  margin-top: 60px;
  background-color: blueviolet;
  width: 250px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  margin-left: auto;
  transition: 0.5s ease;
}

.card:hover .foreground {
  transform: translateX(0);
}
.card2 {
  position: relative;
  width: 100px;
  height: 250px;
  border: 1px solid rgb(76, 0, 255);
  overflow: hidden;
  padding-top: 2px;
  background-color: red;
  display: inline-flex;
  margin-left: -120px;
}
.child {
  position: relative;
  padding-top: 30px;
  margin-top: 30px;
  background-color: rgb(66, 108, 201);
  width: 350px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  margin-left: auto;
  transition: 0.5s ease;
}
.card2 > div {
  height: 100%;
  width: 100%;
}

.card2:hover .foreground {
  transform: translateX(0);
}
