html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, MontserratBold, -apple-system, BlinkMacSystemFont,
    Segoe UI, MontserratBlack, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;

  font-display: optional;
  src: url(/fonts/static/Montserrat-Regular.ttf) format("woff2");
}

@font-face {
  font-family: "MontserratBold";
  font-style: normal;

  font-display: optional;
  src: url(/fonts/Montserrat-VariableFont_wght.ttf) format("woff2");
}

input[type="text"] {
  border: none;
  border-radius: 5px;
}
.canvas-text {
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-size: 55px;
  color: #242424;
}
.canvas-subtext {
  font-family: "Alice", serif;
  font-size: 30px;
}

.input-text[type="text"] {
  border: none;
  background-color: white;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border-radius: 0px;
  color: gray;

  height: 40px;
}
.input-text[type="text"]:focus {
  border: none;
}
.input-text1:focus {
  border: none !important;
}
.input-text[type="text"]:focus {
  border: none;
}
/*******************************************************/
/**************all view... buttons on body**************/
/*******************************************************/
.viewButton {
  padding: 8px 25px 8px 25px;
  margin-right: 8px;
  margin-bottom: 8px;
  color: gray;
  border-radius: 30px;
  border-width: 1px;
  border-color: white;
  font-weight: 600;
  font-size: 14px;
  font-family: MontserratBold, sans-serif;
}
.viewButton:hover {
  border-color: white;
  color: #ea7f23;
  background-color: white;
  font-weight: 600;
}

/*******************************************************/
/**********hammer, heart and seach icon styles**********/
/*******************************************************/

.hammerbutton {
  margin: auto;
  padding: 6px;
  background-color: #ea7f23;
  border-radius: 42px;
}
.iconbutton {
  margin-top: 10px;
  padding: 6px;

  background-color: white;
  border-radius: 42px;
}
.iconbutton:hover {
  margin-top: 10px;
  padding: 6px;
  background-color: #ea7f23;

  border-radius: 42px;
}

.cardtext {
  font-size: 18px;
  color: #484848;
  line-height: 24px;
  transition: ease-in-out;
  font-family: MontserratBold, sans-serif;
}
.cardtext subtext {
  font-size: 16px;
  color: #484848;
  line-height: 25px;
  transition: ease-in-out;
}

.text-secttl {
  font-size: 34px;
  color: #212529;
  line-height: 24px;
  font-family: MontserratBold, sans-serif;
  font-weight: 700;
}

.auctionItemTextMain {
  font-size: 18px;
  color: #484848;
  line-height: 24px;
  transition: ease-in-out;
  font-family: MontserratBold, sans-serif;
}
.auctionItemTextSub {
  font-size: 18px;
  color: #484848;
  line-height: 24px;
  transition: ease-in-out;
  font-family: MontserratBold, sans-serif;
}
/********************************************************************/
/************styles for five items on auction lists******************/
/********************************************************************/
.auctionItemMajor {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
  width: 100%;
}
.image-caption-major .image-caption-one {
  font-size: 27px;
  color: #ffffff;
  line-height: 24px;
  padding-top: 5px;
  font-family: MontserratBold, sans-serif;
  font-weight: 600;
}
.image-caption-major .image-caption-two {
  font-size: 16px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 24px;
  font-family: MontserratBold, sans-serif;
}

.image-caption-minor {
  font-size: 27px;
  color: #ffffff;
  line-height: 24px;
  padding-top: 5px;
  font-family: MontserratBold, sans-serif;
  font-weight: 600;
}
.image-caption-minor . {
  font-size: 16px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 24px;
  font-family: MontserratBold, sans-serif;
}
