.card {
  position: relative;
  display: block;
  margin: 4px 15px 114px 2px;
  text-align: center;
  width: auto;
}

.cardflip {
  position: absolute;
  display: block;
  margin-top: -50px;
  margin-left: 20px;
  visibility: hidden;
  transition: transform 1s;
  transform-origin: left;
  z-index: 0;
  width: auto;
  height: 120px;
}

.card {
  z-index: 1;
}

.container {
  perspective: 800px;
}

.container:hover .cardflip {
  transform: translateY(-208px);
  background: lightblue;
  visibility: visible;
  position: absolute;
}
